# Created by http://gitignore.io

build/*
json.tab.c
json.tab.h
lex.yy.c

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

### Linux ###
.*
!.gitignore
!.git*
*~


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
